@import "tailwindcss";

/* Tailwind v4 menggunakan native CSS variables.
  Kita set default background & text color untuk SAESTU di sini.
*/

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Utilities layer untuk styling custom body 
*/
@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}